# =========================
# OS / Système
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs
# =========================
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Node / Frontend
# =========================
node_modules/
dist/
build/
.cache/
.tmp/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/

# =========================
# Docker
# =========================
*.env
.env.*
docker-compose.override.yml


# =========================
# IDE / Editeurs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Fichiers sensibles
# =========================
*.key
*.pem
*.crt
*.asc
gitea-local-push.md

# =========================
# Divers
# =========================
*.bak
*.tmp
*.old
